# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore db config
/config/database.yml

# Ignore generated assets
/public/assets
/shared
/.rbenv-vars
