#xws-text-area {
  min-height: 300px;
  font-size: smaller;
}
.pilots-cell {
  line-height: 1.1;
  width: 30%;
}
.squadron-cell {
  line-height: 1;
  width: 60%;
}
.ship-combo-cell {
  line-height: 1;
  width: 30%;
}
