%ul.nav.nav-pills.flex-column
  %li.nav-item
    %a.nav-link.active{:href => '#'}
      Overview
      %span.sr-only (current)
  %li.nav-item
    %a.nav-link{:href => '#'} Reports
  %li.nav-item
    %a.nav-link{:href => '#'} Analytics
  %li.nav-item
    %a.nav-link{:href => '#'} Export
%ul.nav.nav-pills.flex-column
  %li.nav-item
    %a.nav-link{:href => '#'} Nav item
  %li.nav-item
    %a.nav-link{:href => '#'} Nav item again
  %li.nav-item
    %a.nav-link{:href => '#'} One more nav
  %li.nav-item
    %a.nav-link{:href => '#'} Another nav item
%ul.nav.nav-pills.flex-column
  %li.nav-item
    %a.nav-link{:href => '#'} Nav item again
  %li.nav-item
    %a.nav-link{:href => '#'} One more nav
  %li.nav-item
    %a.nav-link{:href => '#'} Another nav item
